<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="SERVICE_NAME" value="event-management-system"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern><![CDATA[
{
    "timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
    "level":"%p",
    "service":"${SERVICE_NAME}",
    "thread":"%thread",
    "logger":"%logger{40}",
    "trace_id":"%X{traceId}",
    "user_id":"%X{userId}",
    "endpoint":"%X{endpoint}",
    "message":"%m"
}%n
]]></pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>